version: "3.9"

services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile.jupyter
    container_name: beat-gamma-jupyter
    ports:
      - "8888:8888"
      - "4040:4040"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./processes:/app/processes

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: beat-gamma-worker
    depends_on:
      - jupyter
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./processes:/app/processes
